// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage {
  min-height: 495px;
  position: relative;
  top: 23px;
  background-image: image-url("avengers-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
// .title {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-weight: bold;
//   font-size: 5rem;
// }
// .aboutPage {
//   display: flex;
// }
.aboutText {
  padding-left: 10px;
  font-weight: bold;
}
