// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage {
  height: 100vh;
  position: relative;
  top: -24px;

  background-image: image-url("bg-marvel.jpg");
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 5rem;
}
.aboutPage {
  // background-color: red;
  height: 100vh;
  position: relative;
  top: -24px;
  background-image: image-url("bg-avengers.jpg");
  background-size: cover;
}
.aboutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 3rem;
}
